/* Interaction Elements */

a.link-button.button {
  position: relative;
  bottom: -28px;
}

div.responsive-picture.pic1 {
  min-height: 0;
  width: 94.5%;
}

@media screen and (min-width: 40rem) {
  /* Layout Elements */

  body.url {
    top: 0;
  }
}

@media screen and (min-width: 64rem) {
  /* Text Elements */

  p.paragraph.paragraph-1 {
    display: block;
  }

  p.paragraph.paragraph-1.text12 {
    position: static;
    display: block;
    text-align: center;
  }

  /* Interaction Elements */

  a.link-button.but20032.button {
    right: -928px;
    bottom: -53px;
  }
}